<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
html, body {
    height: 100%;
    margin: 0;
}
h1,form{
    position: relative;
    top: 100px;
    text-align: center;
}
</style>
</head>
<body style="background-image: url('https://i.ibb.co/5xg25Ch3/dow.jpg'); 
             background-size: cover; 
             background-position: center; 
             background-repeat: no-repeat;">>
<div class="container mt-4">
    <h1 style="color: rgb(60, 55, 156);">Login</h1>
    <form method="POST">
        <input type="text" name="username" placeholder="Username" required><br><br>
        <input type="password" name="password" placeholder="Password" required><br><br>
        <button type="submit">Login</button>
    </form>
</body>
</html>